In [22]:
import dolfin as df
import pandas as pd
import os
from IPython.display import display, HTML

In [24]:
init_vals_mc1 = {"alpha_i": "0.4",
                 "alpha_e": "0.2",
                 "Na_i": "15.510234830675616",
                 "K_i": "99.19015487718889",
                 "Cl_i": "5.064077397202017",
                 "Na_e": "146.5802367864952",
                 "K_e": "3.018983797774815",
                 "Cl_e": "133.87184520559637",
                 "phi_i": "-0.08466809466757282",
                 "phi_e": "0.0"}
init_vals_mc2 = {"alpha_i": "0.4","alpha_e": "0.2",
                 "Na_i": "16.01637550847724",
                 "K_i": "101.81192543819186",
                 "Cl_i": "8.177573403638688",
                 "Na_e": "140.4993296413588",
                 "K_e": "2.844068465305649",
                 "Cl_e": "127.64485319272382",
                 "phi_i": "-0.08602469872573908",
                 "phi_e": "0.0"}
init_vals_mc3 = {"alpha_i": "0.4",
                 "alpha_e": "0.2",
                 "Na_i": "15.510281172306579",
                 "K_i": "99.18951634974886",
                 "Cl_i": "5.064058134333789",
                 "HCO3_i": "8.415887810925824",
                 "Na_e": "146.58022949539213",
                 "K_e": "3.02017546049593",
                 "Cl_e": "133.87188373133282",
                 "HCO3_e": "14.068224378148397",
                 "phi_i": "-0.08465790884483847",
                 "phi_e": "0.0"}
init_vals_mc4 = {"alpha_i": "0.4",
                 "alpha_e": "0.2",
                 "Na_i": "15.510234830675616",
                 "K_i": "99.19015487718889",
                 "Cl_i": "5.064077397202017",
                 "Na_e": "146.5802367864952",
                 "K_e": "3.018983797774815",
                 "Cl_e": "133.87184520559637",
                 "phi_i": "-0.08466809466757282",
                 "phi_e": "0.0"}
init_vals_mc5 = {"alpha_i": "0.4",
                 "alpha_e": "0.2",
                 "Na_i": "14.872969584642725",
                 "K_i": "98.52063389964302",
                 "Cl_i": "3.691088150654625",
                 "HCO3_i": "8.525956640279082",
                 "Na_e": "149.17352263058513",
                 "K_e": "3.0392704008382467",
                 "Cl_e": "136.61782369869186",
                 "HCO3_e": "13.848086719442074",
                 "phi_i": "-0.08468533324616204",
                 "phi_e": "0.0"}
init_vals_mc7 = {"alpha_i": "0.4",
                 "alpha_e": "0.2",
                 "Na_i": "15.510234830675616",
                 "K_i": "99.19015487718889",
                 "Cl_i": "5.064077397202017",
                 "Na_e": "146.5802367864952",
                 "K_e": "3.018983797774815",
                 "Cl_e": "133.87184520559637",
                 "phi_i": "-0.08466809466757282",
                 "phi_e": "0.0"}

list_of_dicts = [init_vals_mc1, init_vals_mc2, init_vals_mc3, init_vals_mc4, init_vals_mc5, init_vals_mc7]
init_vals = {}
keys = ["alpha_i", "alpha_e", "Na_i", "K_i", "Cl_i", "HCO3_i", "Na_e", "K_e", "Cl_e", "HCO3_e", "phi_i", "phi_e"]
for dictionary in list_of_dicts:
    for key in keys:
        if key not in init_vals:
            init_vals[key] = []
        if key not in dictionary:
            init_vals[key].append('na')
        else:
            init_vals[key].append(float(dictionary[key]))
init_vals = pd.DataFrame(data=init_vals, index=['MC1', 'MC2', 'MC3', 'MC4', 'MC5', 'MC7'], columns=keys)

In [25]:
display(HTML(init_vals.to_html()))

In [ ]:
init_vals.plot(x='phi_i', y='')